<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--
namespace:名称空间，需是Mapper接口，且二者必须在同一路径下
-->
<mapper namespace="com.sss.mapper.UserMapper">
    <select id="selectAll" resultType="com.sss.POJO.Teacher">
        select * from teacher_table ;
    </select>

</mapper>